.h1_shadow{
    text-shadow : -5px 5px 5px #008000;
    }

/* text-shadow :가로 거리 세로거리 번짐정도 색상 
    -로하면 양수의 반대방향으로 
    text-shadow : -n -n n
    왼쪽, 위로 그림자가 생김*/

.h1_tran {
    text-transform: capitalize;
    }

.h2_tran {
text-transform: uppercase;
    }

.h3_tran {
text-transform: lowercase;
    }

/* capitalize : 영어의 첫번째 글자를 대문자로 바꿔줌
    uppercase :  전부 대문자
    lowercase : 전부 소문자*/

.h1_spacing{
    letter-spacing: 3rem;
}
/* letter-spacing : 글자간 간격 */

.h1_w_spacing{
    word-spacing: 2em;
}
/* word-spacing : 단어간 간격 */
