/* 하위요소: 특정요소를 기준으로 그 안에 포함된 요소 
    자식요소 : 바로 한단계 아래 요소
    손자요소 : 자식요소의 아래 요소*/

/* 하위 선택자 : 부모요소 밑에 포함된 모든 하위요소 */

header p{
    width:500px;
    height: 200px;
    border:1px solid black;
}

/* 자식 선택자 : 자식요소에만 적용하는 선택자 */
main>div{
    width:200px;
    border:1px solid #000;
}

/* 인접 형제 선택자 : 형제 요소중 첫 번째 동생 요소만 선택하는 것 */
h1+p{
    box-shadow: 10px 10px 10px 10px #000;}


/* 형제 선택자 : 모든 형제 요소에 적용 */
h1~p{
    background-color: blue;
}

