#content{width:1200px;
    height: 600px;
    
    margin:0 auto;
    position:relative;
    background:url(../images/city.jpg);
    background-size: cover;
}

h1{
    font-size:80px;
    color: green;
    position:absolute;
    bottom:50px;
    left: 100px;
    display: inline-block;
    margin:0;
}