header h1{
    border: 1px solid blue;
    width: 700px;
    height: 50px;

}
#container p{ 
    border :3px solid orange;
/* 하위 선택자(자손 선택자) : 부모요소에 포함된 하위 요소 모두 선택 
    상위요소 하위 요소        자식 요소뿐만 아니라 손자요소, 손자의 손자 등 
                            모든 하위 요소까지 적용*/
}

div>p {
    width: 500px;
    height: 300px;
/* 자식 선택자 : 자식 요소에만 스타일 적용
상위요소>자식요소   바로 한단계 아래의 요소에만 적용 */
}

h2+p{
    color : red;
/* 형제 관계 : 부모의 요소가 같은 경우 먼저 나오는 게 형 요소 나중에 나오는게 동생요소 
        인접형제선택자: 형제 요소 중 첫 번째 동생요소만 선택하는 것
*/
}

h2~p{
    text-align: center;
/* 형제 선택자 : 요소1의 형제인 동생요소인 요소2를 모두 선택 
 */
}



