.box{
    width :100px;
    height :100px;
    background-color : white;
    position : absolute;
    /* left : 100px;
    bottom : 100px; */
}

.box.findBox{
    width :100px;
    height :100px;
    /* background-color : beige; */
    background-image : url('./paduck.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position : absolute;
    /* left : 100px;
    bottom : 100px; */
}